streamlit
langchain-groq
langchain-pinecone
langchain-huggingface
langchain-text-splitters>=0.3.9
langchain-community>=0.3.27
langchain-core>=0.3.81
sentence-transformers
pinecone
pymupdf
python-docx
fpdf2
python-dotenv
Pillow
psycopg2-binary
bcrypt
feedparser
beautifulsoup4
requests
googlesearch-python