streamlit
langchain-groq
langchain-pinecone
langchain-huggingface
sentence-transformers
pinecone
pymupdf
python-docx
fpdf
python-dotenv
Pillow
psycopg2-binary
bcrypt
feedparser
beautifulsoup4
requests
langchain-text-splitters